
/* start styling the pictures of supers */
.heroPics{
    display: inline-block;
    margin: 10px;
    opacity: .6;
    border-radius: 20%;
    z-index: 0;
}
.heroPics:hover{
    box-shadow: 0px 0px 10px 10px red;
    opacity: 1.0;
    cursor: pointer;
}
/* end styling of the pictures of supers */

/* start styling the search buttons */
#searchButtons{
    text-align: center;
}
#nameSearchBtn , #alphaSearchBtn, #comicSearchBtn{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 20px;
    background-color: red;
    color:white;
    font-size: x-large;
}
#searchBar{
    text-align: center;
}
#searchBarBtn{
    padding: 12px;
    font-size: large;
    background-color: red;
    color:white;
}
#letterComicButtons{
    text-align: center;
}
::placeholder{
    color:red;
}
#heroNameHere, #comicNameHere{
    color:red;
    height: 40px;
    font-size: large;
}
.letterBtn, .comicBtn{
    margin-left: 10px;
    margin-right: 10px;
    font-size: large;
    background-color: white;
    color :red;
}
/* end styling of the search buttons */

/* start styling of the modal info */
.modalName{
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
}
.modalPic{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
}
#save-card{
    text-align: center;
    padding:15px;
    margin-left: 35px;
    margin-right: 35px;
    width:118px;
}
#back-button{
    text-align: center;
    padding:15px;
    margin-left: 35px;
    margin-right: 35px;
    width:118px;
}
.pure-radio{
    display: block;
    text-align: center;
    margin-bottom:15px;
    font-size: large;
}
#cardStyleText{
    text-align: center;
}
/* end styling of the modal info */

 /*  -- BASE STYLES --
  Most of these are inherited from Base, but I want to change a few.
 */ 

 body {
   background-color: black;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

p {
    line-height: 1.6em;
}


/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background-color: red; /*transparent url('http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg') 0 0 no-repeat fixed;*/
    text-align: center;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');

    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

    .banner-head {
        display: table-cell;
        vertical-align: middle;
        margin-bottom: 0;
        font-size: 2em;
        color: white;
        font-weight: 500;
        text-shadow: 0 1px 1px black;
    }



/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-free .pricing-table-header {
    background:black;
}

.pricing-table-biz .pricing-table-header {
    background: #2c4985;
}

/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
    background: #111;
    color: #fff;
}
    .pricing-table-header h2 {
        margin: 0;
        padding-top: 2em;
        font-size: 1em;
        font-weight: normal;

    }


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}
    .footer a {
        color: #ddd;
    }


/****** CSS Modal For Modal ******/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/***** CSS Modal For Modal - Ends Here ******/




/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(min-width: 767px) {

    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }

}

