/* start sticky footer css */
html, body {
    height: 100%;
    margin: 0;
  }
  .container {
    min-height: 100%;
    margin-bottom: -62px;
    grid-auto-flow:dense;
  }
  #space{
      height:50px;
  }
/* end sticky footer css */

/* end sticky footer css */

/* centering content in these coloumns */
.pure-u-1, .pure-u-md-10-24, .pure-u-md-10-24{
    text-align: center;
}
/* start card gallery css */
.cardEl{
    width:220px;
    height:300px;
    display: inline-block;
    margin:15px;
    border-style: solid;
    border-color: red;
}
.cardName{
    color:yellow;
    font-size: 20px;
    margin-bottom: 40px;
    text-align: center;
}
.cardPic{
    display: block;
    margin-top:15px;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border-radius: 80%;
    border-style: solid;
    border-color: red;
}
#cardGallery{
    text-align: center;
    color:red;
    margin-top: 0px;
    font-size: 80px;
    text-decoration: underline;
}
#card-gallery{
    margin:20px;
}
/* end gard gallery css */

/* start styling the pictures of supers */
.heroPics{
    display: inline-block;
    margin: 10px;
    opacity: .6;
    border-radius: 20%;
    z-index: 0;
}
.heroPics:hover{
    box-shadow: 0px 0px 10px 10px red;
    opacity: 1.0;
    cursor: pointer;
}
/* end styling of the pictures of supers */
/* start styling the search buttons */
#searchButtons{
    text-align: center;
}
#nameSearchBtn , #alphaSearchBtn, #comicSearchBtn{
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: red;
    color:white;
    font-size: x-large;
}
#nameSearchBtn:hover , #alphaSearchBtn:hover, #comicSearchBtn:hover{
    box-shadow: 0px 0px 10px 10px white;
    cursor: pointer;
}
#searchBar{
    text-align: center;
}
#searchBarBtn{
    padding: 12px;
    font-size: large;
    background-color: red;
    color:white;
}
#comicButtons, #letterButtons{
    text-align: center;
} 
::placeholder{
    color:red;
}
#heroNameHere, #comicNameHere{
    color:red;
    height: 40px;
    font-size: large;
}
.comicBtn{
    margin:10px;
    font-size: large;
    background-color: white;
    color :red;
    text-align: center;
}
.letterBtn{
    margin:10px;
    font-size: large;
    background-color: white;
    color :red;
    text-align: center;
    width: 35px;
}
.comicBtn:hover, .letterBtn:hover{
    box-shadow: 0px 0px 10px 10px red;
    cursor: pointer;
}
/* end styling of the search buttons */
/* start styling of the modal info */
.modalName{
    text-align: center;
    font-size: x-large;
    margin-bottom: 30px;
}
.modalPic{
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
}
#modal-btn-div{
    margin-top: 19px;
}
.modal-btn{
    text-align: center;
    padding:15px;
    margin-left: 35px;
    margin-right: 35px;
    width:118px;
    font-size: 12px;
}
#music-button{
    text-align: center;
    padding:15px;
    width:118px;
    font-size: 12px;
    margin-left:132px;
    margin-bottom: 10px;
}
.pure-radio{
    display: block;
    text-align: center;
    margin-bottom:15px;
    font-size: large;
}
#cardStyleText{
    text-align: center;
}
/* end styling of the modal info */
/* start iframe styling */
#player{
    opacity:0;
}
/* end iframe css */
 body {
   background-color: black;
}
/* Start banner css */
.banner {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 86%, rgba(255,0,0,1) 100%); 
    text-align: center;
    background-size: cover;
    height: 100px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}
.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    font-family: "Anton", "serif";
/*Added Styling and Font to Banner Head*/
    color: red;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
    text-align: center;
}
    /* end banner css */
.footer {
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 86%, rgba(255,0,0,1) 100%);
    color: red;
    text-align: center;
    padding:3px;
    font-size: large;
}
/****** start CSS For Modal ******/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    z-index: 1;
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(139,16,16,1) 86%, rgba(255,0,0,1) 100%);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
    background-color: red;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
/***** End css for modal ******/





